<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <div class="header">
        <nav class="navitext">

            <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
            </div>
    
            <div class="logo">
                  <a href="#">GZRU</a>
            </div>
    
            <div class="menu">
                  <ul>
                        <li><a href="{% url 'welcome' %}">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                  </ul>
            </div>
      </nav>
      <div class="menuly">
        <ul class="socialinks">
              <li><a href="#">MAIL</a></li>
              <li><a href="#">GITHUB</a></li>
              <li><a href="#">LINKDIN</a></li>
              <li><a href="#">TWITTER</a></li>
              <li><a href="#">INSTAGRAM</a></li>
        </ul>
  </div>
        <div class="header-text">
            <!-- <h1>Hello World!</h1>
            <p>Scroll down to see the sticky effect.</p> -->
        </div>
    </div>
</body>
</html>